.heading-1 {
    font-family: Lato, sans-serif;
    text-align: center;
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

.paragraph {
    text-align: justify;
    text-indent: 2em;
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    margin-left: 64px;
    margin-right: 64px;
}
