{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
      shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %} Fetin 2017 {% endblock %}</title>

    <!-- importa o css do bootstrap -->
    <!-- STATIC_URL = '/static/' definida em settings.py -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <!-- outros css -->
    <link href="{{ STATIC_URL  }}base.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- block content vai ser substituido pelo conteudo de outro arquivo -->
    {% block content %} {% endblock %}

    <!-- importa os scripts JavaScript do bootstrap -->
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
