<!-- docs: http://www.geocodezip.com/ -->

<!-- importa o html base -->
{% extends "base.html" %}
{% block title %} Mapa {% endblock %}

<!-- o conteúdo da página fica dentro de block content -->
{% block content %}
<!-- <form class="form-inline" action="" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Confirmar" />
</form> -->
<div id="map"></div>
<script>
  var locations = [
    // query data from views.py
    {% for location in locations %}
      {lat: {{ location.lat|safe }}, lng: {{ location.lng|safe }} },
    {% endfor %}
  ]
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -22.2526, lng: -45.7042},
      zoom: 8
    });

    // Create an array of alphabetical characters used to label the markers.
    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

    // Add some markers to the map.
    // Note: The code uses the JavaScript Array.prototype.map() method to
    // create an array of markers based on a given "locations" array.
    // The map() method here has nothing to do with the Google Maps API.
    var markers = locations.map(function(location, i) {
      return new google.maps.Marker({
        position: location,
        label: labels[i % labels.length]
      });
    });

    // Add a marker clusterer to manage the markers.
    var markerCluster = new MarkerClusterer(map, markers,
       {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
  }
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAokIWXfyu8eTgvJTEtrS_5e32FiMznq2s&callback=initMap"
async defer></script>
{% endblock %}
